
<div class="container">
<h4>Seus pagamentos:</h4>
<br />
<% @orders.each do |order| %>
  <p>Produto: <%= order.product.title %></p>
  <p>Comprador: <%= order.buyer_name %></p>
  <p>Condição: <%= order.status %></p>
  <hr />
<% end %>



</div>