<% unless session[:id].present? %>
  <div class="container">
    <section id="search">
      <%= form_tag map_path, :method => :get do %>
    <div class="row">
      <div class="input-field col s10">
        <i class="material-icons prefix">location_on</i>
        <%= label :search, 'Coloque seu endereço' %>
        <%= text_field_tag :search, params[:search] %>
      </div>
      <div class="col s2 valign">
          <%= submit_tag "Por perto", :name => nil, class: "waves-effect waves-orange btn" %>
      </div>
    </div>
  <% end %>
    </section>
  </div>
<% end %>
