<%= render 'search' %>
<div class="parallax-container">
  <div class="caption center-align">
    <h1 class="animated bounceInDown">Marmiteco</h1>
    <h3 class="light grey-text text-lighten-3 animated bounceInLeft" >Pensou em comida?</h3>
    <h3 class="light grey-text text-lighten-3 animated bounceInRight" >Encontramos para você!</h3>
  </div>
  <div class="parallax"><%= image_tag 'bg2.jpg' %> </div>
</div>
<div class="container">
  <div class="row">
    <div class="col s12 m4">
      <div class="card blue-grey darken-1 my-card">
            <div class="card-content white-text">
              <span class="card-title">Encontre onde comer</span>
              <p>Basta colocar um endereço no campo acima e vai encontrar lugares que serve comida, seja de forma expressa como restaurantes. O jeito mais fácil de encontrar onde comer!</p>
            </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card blue-grey darken-1 my-card">
            <div class="card-content white-text">
              <span class="card-title">Para quem vende</span>
              <p>Se você vend ecomida, seja rsetaurante ou entrega de marmitas, este negócio é para você! De maneira simples seu negócio é colocado no app Marmiteco, sendo assim facilmente encontrado! .</p>
            </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card blue-grey darken-1 my-card">
            <div class="card-content white-text">
              <span class="card-title">Para quem tem fome</span>
              <p>Basta colocar um endereço no site ou utilizar nosso aplicativo para encontrar facilmente onde comer! Encontramos lugares ao seu redor, com resenha e telefone para contato.</p>
            </div>

      </div>
    </div>
  </div>
  </div>
</div>
