<div class="container">
<br>
<br>
<br>
<br>
  <h1>Obrigado!.</h1>
  <p>Logo entraremos em contato com você!</p>
  <p>Obrigado por se interessar em nosso aplicativo! Tenho certeza que faremos uma excelente parceria!</p>
  <em>Equipe Marmiteco</em>
</div>
