/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "materialize";
 @import "materialize/extras/nouislider";
 @import "material_icons";
 @import "animate";
 @import "home";
 @import "users";
 @import "about";
 @import "contacts";
 

 body {
   background-color: #fff3e0;
 }

.hidden { display: none; }

.side-logo {
	img {
		width: 200px;	
		margin-top: 10px;
	}
}

#notice-wrapper {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 999;
	background: rgba( 44, 187, 173, 0.85 );
	p {
		padding: 2.5rem 0;
		text-align: center;
		font-size: 1.25rem;
		font-weight: 700;
		color: #fff;
		letter-spacing: 1px;
	}
}
