// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.session-container {
  width: 600px;
  background-color: #fcc480;
  padding: 30px;
  margin: 0 auto;
  margin-top: 60px;
}

.map-container  {
  border-top: solid 6px #FB8C00;
}

.parallax-container {
  height: 600px;
  border-bottom: solid 6px #FB8C00;
  .caption {
    h1 {
      color: #FB8C00;
      padding: 30px;
      -webkit-text-stroke: 2px black;
    }
    h3 {
      color: #e2e2e2 !important;
    }
  }
}

.parallax img {
  display: block;
}

.nav-wrapper {
  background-color: #fb8c00 !important;
}

.nav-wrapper .brand-logo img {
    height: 64px;
}

.map-container {
  width: 100%;
  height: 720px;
  #map {
    width: 100%;
    height: 100%;
    position: relative;
  }
}

.section01 {
  margin-top: 10px;
  margin-bottom: 20px;
  padding-bottom: 30px
}

.section02 {
  margin-top: 10px;
  margin-bottom: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}



.wraper01 {
  margin: 30px;
  margin-left: 10px;
  padding: 10px;
}

.valign {
  margin-top: 22px;
}

#iw-container {
  margin: 0;
  padding: 10px;
  background-color: rgba(255,204,142,0.25);
}

#iw-container  .iw-title {
   font-family: 'Open Sans Condensed', sans-serif;
   font-size: 22px;
   font-weight: 400;
   padding: 10px;
   background-color: #FB8C00;
   color: white;
   margin: 1px;
   border-radius: 2px 2px 0 0; /* De acordo com o arredondamento dos cantos da infowindow por padrão. */
}

.page-footer {
  background-color: #FB8C00;
  p {
    margin-left: 40px;  
  }
}



