// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nav-wrapper {
  background-color: #fb8c00 !important;
}

.nav-wrapper .brand-logo img {
    height: 64px;
}

.map-container {
  width: 2000px;
  height: 720px;
  #map {
    width: 100%;
    height: 100%;
    position: relative;
  }
}
